IO_LOC  "arduino_isfinished" 71;

IO_LOC  "arduino_execute" 72;

IO_LOC  "arduino_reset" 77;

IO_LOC  "arduino_clock" 27;

IO_LOC  "arduino_readwrite" 79;

IO_LOC  "arduino_databank[1]" 86;

IO_LOC  "arduino_databank[0]" 49;

IO_LOC  "arduino_dataout[7]" 48;

IO_LOC  "arduino_dataout[6]" 51;

IO_LOC  "arduino_dataout[5]" 74;

IO_LOC  "arduino_dataout[4]" 73;

IO_LOC  "arduino_dataout[3]" 41;

IO_LOC  "arduino_dataout[2]" 42;

IO_LOC  "arduino_dataout[1]" 80;

IO_LOC  "arduino_dataout[0]" 76;

IO_LOC  "arduino_datain[7]" 75;
IO_PORT "arduino_datain[7]" PULL_MODE=UP;

IO_LOC  "arduino_datain[6]" 85;
IO_PORT "arduino_datain[6]" PULL_MODE=UP;

IO_LOC  "arduino_datain[5]" 28;
IO_PORT "arduino_datain[5]" PULL_MODE=UP;

IO_LOC  "arduino_datain[4]" 25;
IO_PORT "arduino_datain[4]" PULL_MODE=UP;

IO_LOC  "arduino_datain[3]" 26;
IO_PORT "arduino_datain[3]" PULL_MODE=UP;

IO_LOC  "arduino_datain[2]" 29;
IO_PORT "arduino_datain[2]" PULL_MODE=UP;

IO_LOC  "arduino_datain[1]" 30;
IO_PORT "arduino_datain[1]" PULL_MODE=UP;

IO_LOC  "arduino_datain[0]" 31;
IO_PORT "arduino_datain[0]" PULL_MODE=UP;

IO_LOC  "sysclk" 4;
IO_PORT "sysclk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
